In [1]:
#------------------------------------------------------------------------------#
# BD&MLfAE, PS3
# 14 de noviembre de 2022
# Python 3.9.12
# 
# David Santiago Caraballo Candela, 201813007
# Sergio David Pinilla Padilla, 201814755
# Juan Diego Valencia Romero, 201815561
#
# Nota: Codigo complementario de Datos_Geoesp.R, utilizado para la imputación
# de datos faltantes a nivel de manzana
#------------------------------------------------------------------------------#

In [ ]:
#Packages:
import pandas as pd
import numpy as np
import pyreadr as pyr
import sklearn as sk
from sklearn.impute import KNNImputer

In [2]:
imp=pd.read_csv("imptdb.csv")
imp
prop=imp["property_id"]
prop
#imp=pd.DataFrame(imp[1],index=range(0,56436))
#imp

0        7818bfdb2515268f36f561cf
1        b431f95918341a3680fd120c
2        528d66663acd45b08c6d7931
3        af7aede36ea1df2529081419
4        ba8e68faaf298e1ede1e442d
                   ...
56432    86e6999827c1a2ce97ccf1e9
56433    4a22e73a6241e26381ddada7
56434    beb8416b56b1aae67f1124f7
56435    11eaa1e7de7c888f11163386
56436    464c27b1031f2dddc3523b9c
Name: property_id, Length: 56437, dtype: object

In [3]:
imp.set_index("property_id",inplace=True)
imp

,med_H_NRO_CUARTOS,sum_HA_TOT_PER,med_V_TOT_HOG,med_VA1_ESTRATO,lat,lon
property_id,,,,,,
7818bfdb2515268f36f561cf,NaN,NaN,NaN,NaN,4.717097,-74.03588
b431f95918341a3680fd120c,NaN,NaN,NaN,NaN,4.702000,-74.04500
528d66663acd45b08c6d7931,NaN,NaN,NaN,NaN,4.706000,-74.08300
af7aede36ea1df2529081419,NaN,NaN,NaN,NaN,4.711348,-74.04730
ba8e68faaf298e1ede1e442d,NaN,NaN,NaN,NaN,4.719000,-74.07800
...,...,...,...,...,...,...
86e6999827c1a2ce97ccf1e9,NaN,NaN,NaN,NaN,3.375315,-76.51703
4a22e73a6241e26381ddada7,NaN,NaN,NaN,NaN,3.352000,-76.54100
beb8416b56b1aae67f1124f7,4.0,1091.0,1.0,6.0,3.382000,-76.53300
11eaa1e7de7c888f11163386,4.0,751.0,1.0,5.0,3.355956,-76.52329
464c27b1031f2dddc3523b9c,NaN,NaN,NaN,NaN,3.383000,-76.54200

In [4]:
imputer=KNNImputer(n_neighbors=3) 
imputer.fit(imp)
dfimp=pd.DataFrame(imputer.transform(imp))

In [5]:
dfimp
dfimp.set_index(prop,inplace=True)
dfimp

,0,1,2,3,4,5
property_id,,,,,,
7818bfdb2515268f36f561cf,4.000000,1256.666667,1.0,3.666667,4.717097,-74.03588
b431f95918341a3680fd120c,4.666667,230.666667,1.0,5.333333,4.702000,-74.04500
528d66663acd45b08c6d7931,3.666667,472.000000,1.0,5.000000,4.706000,-74.08300
af7aede36ea1df2529081419,3.666667,839.000000,1.0,3.333333,4.711348,-74.04730
ba8e68faaf298e1ede1e442d,4.333333,1096.666667,1.0,4.333333,4.719000,-74.07800
...,...,...,...,...,...,...
86e6999827c1a2ce97ccf1e9,4.000000,1114.333333,1.0,4.666667,3.375315,-76.51703
4a22e73a6241e26381ddada7,4.333333,182.666667,1.0,4.666667,3.352000,-76.54100
beb8416b56b1aae67f1124f7,4.000000,1091.000000,1.0,6.000000,3.382000,-76.53300
11eaa1e7de7c888f11163386,4.000000,751.000000,1.0,5.000000,3.355956,-76.52329
464c27b1031f2dddc3523b9c,4.000000,562.333333,1.0,5.000000,3.383000,-76.54200

In [6]:
dict=({0: "med_H_Cuar_KNN", 1: "sum_TOT_Per_KNN", 2: "med_TOT_Hog_KNN", 3: "med_Estrato", 4: "lat", 5: "lon"})
dfimp.rename(columns=dict, inplace=True)

In [7]:
imputKNN=dfimp.to_csv("C:/Users/hp/OneDrive - Universidad de los Andes/Documentos/Docs/Universidad/2022-2/Big Data/Taller 3/Repo/PS3_BD-ML/imptdb2.csv",index=True)